<nav class="top--nav__inner">
    <div class="top--nav__dshbrd">
        <h2>GOALBOARD.</h2>
    </div>
    <div class="add--block__option">
        <input type="submit" value="+" id="choose--option__btn">
        <div class="choose--option__dropdown" style="display:none;">
            <ul>
                <li id="add--block__btn">PerfBlock</li>
                <li id="add--todoblock__btn">ToDoBlock</li>
            </ul>
        </div>
    </div>
    <div class="top--nav__links">
        <ul>
            <li class="scheme--switcher"><a><img class="sun" src="img/icons/switch--light.png"></a></li>
            <li><a href="about.html">About</a></li>
            <li>Help</li>
            <li id="link--pro"><a href="contact.html">Contact</a></li>
        </ul>
    </div>
</nav>