<nav class="top--nav__inner">
    <div class="top--nav__dshbrd">
        <h2>GOALBOARD.</h2>
    </div>
    <div class="add--block__option">
        <input value="+" id="choose--option__btn" (click)="toggleMenu()">
        <div [hidden]="menuHidden">
            <div class="choose--option__overlay" (click)="closeMenu()"></div>
            <ul Class="choose--option__dropdown">
                <li id="add--block__btn"><button (click)="addBlocPerf()">PerfBlock</button></li>
                <li id="add--todoblock__btn"><button (click)="addBlocToDot()">ToDoBlock</button></li>
            </ul>
        </div>
    </div>
    <div class="top--nav__links">
        <ul>
            <li class="scheme--switcher"><img class="sun" src="../../assets/img/icons/switch--light.png"></li>
        </ul>
    </div>
</nav>